<div class="container mt-3">
  <div class="w-50 m-auto">
  <h1 class="mb-3">Add a new restaurant:</h1>
    <%= simple_form_for(@restaurant) do |f| %>
        <%= f.input :name %>
        <%= f.input :category, :collection => ["Chinese", "Italian", "Japanese", "French", "Belgian"] %>
        <%= f.input :address %>
        <%= f.input :phone_number %>
        <%= f.submit class:"btn btn-primary w-100 mt-2" %>
    <% end %>
  </div>
</div>
